html {
    
}

body {
    background-image: url("images/pattern-background-desktop.svg");
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
border-radius: 25px 25px 25px 25px;
height: ;
}